name: PR Build

on:
  pull_request:
    branches:
      - main
permissions: write-all
jobs:
  build:
    uses: LayeredCraft/devops-templates/.github/workflows/pr-build.yaml@v6.1
    with:
      solution: LayeredCraft.Lambda.AspNetCore.HostingExtensions.sln
      hasTests: true
      useMtpRunner: true
      testDirectory: "test"
      enableCodeCoverage: true
      coverageThreshold: 80
      dotnetVersion: |
        8.0.x
        9.0.x
      runCdk: false
    secrets: inherit